<div class="container">
  <table class="racer_table">
  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  <input id="results" type='submit' data-winner="" data-time="" data-game-id="<%= @game_id %>" value="Show Results"/>
  <input id="play-again" type='submit' data-winner="" data-time="" data-game-id="<%= @game_id %>" value="Play Again"/>
  <p><%= @game_id %></p>
</div>

