<div class="container">

 <form action="/play" method="post">
  <input type='text' name='player1' placeholder='Player 1 Name:'>
  <input type='text' name='player2' placeholder='Player 2 Name:'>
  <button type="submit">Play!</button>
</form>

</div>
